@charset "UTF-8";

@font-face {
    font-family: 'Roboto Mono';
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf) format(truetype);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
}

body{
    padding-bottom: 30px;
}

h1{
    text-align: center;
    padding: 50px 15px;
}

h2{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.3em;
}

#form + #form{
    margin-top: 100px;
}

#form > #flex-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    max-width: 585px;
    margin: 0 auto;
}

#form button{
    flex-basis: 200px;
    padding: 5px;
    border: 2px solid black;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

#form button:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.30);
    transform: scale(108%);
    animation: ease-in-out;
}

p#resultado{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    display: none;
}

div#desconto, div#produto{
    max-width: 600px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.1em;
    padding: 15px 15px 0 15px;
}



p#vddp, p#vdpad{
    display: inline-block;
    text-align: center;
}

@media (max-width: 405px){
    #form input{
        width: 150px;
    }
}